#faqscreen {
    /* background-color: rgb(190, 33, 108); */
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: auto 1rem auto 0.5rem auto 0.5rem;
    grid-template-areas: "faqimage" "." "faqtitle" "." "faqtext" ".";
}

#faqimage {
    height: 25%;
    padding: 0;
    margin: 0;
    object-fit: contain;
    grid-area: faqimage;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#faqtitle {
    grid-area: faqtitle;
    display: flex;
    text-align: center;
    align-content: space-around;
    overflow-wrap: break-word;
    padding: 1rem;
    font-weight: bold;
    font-size: 15pt;
    color: rgb(193, 217, 58);
    /* background-color: rgb(190, 33, 108); */
}

#faqtext {
    grid-area: faqtext;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
    padding: 1rem;
    /* background-color: rgb(190, 33, 108); */
}

#faqtext h1 {
    font-weight: bold;
    color: rgb(225, 155, 56);
}

#faqtext p {
    /* color: whitesmoke; */
}